@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(148, 38%, 91%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  margin: 40px 0;
  
}

h1 {
  margin-bottom: 20px;
}
form {
  font-family: Karla, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  border: 1px solid white;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem ;
}
.name-inputs  {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.first-name-input, .last-name-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name-label {
  margin-bottom: 10px;
}
.email-input input {
  width: 100%;
}

div,
textarea {
  margin-bottom: 15px;
}
textarea {
  padding: 0.5rem;
  border-color: hsl(169, 82%, 27%);
}
input {
  padding: 0.7rem;
  border-color: hsl(169, 82%, 27%);
  border-radius: 8px;
}
label,textarea {
    border-radius: 8px;
}
label[for="email"] {
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: hsl(169, 82%, 27%);
  padding: 0.5rem 0;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  border-radius: 5px;
  border-color: transparent;
  letter-spacing: 2px;
}
legend {
  margin-bottom: 10px;
}
fieldset {
  border: none;
}
.radio-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
label[for="support"],
label[for="general"] {
  border: 1px solid hsl(169, 82%, 27%); ;
  padding: 0.7rem;
  width: 100%;
}
label[for="support"] {
  border-color: hsl(169, 82%, 27%);
}
label[for="general"] {
  border-color: hsl(169, 82%, 27%);
}
label[for="message"] {
  margin-bottom: 10px;
}
input[type="radio"] {
  margin: 0 10px 0 10px;
  transform: scale(1.5);
}
label.required::after, legend.required::after {
  content: "*";
  margin-left: 5px;
  color: hsl(169, 82%, 27%);
}
.consent-container {
  display: flex;
  column-gap: 22px;
  align-items: center;
  min-height: 50px;
}
#consent {
  transform: scale(1.5);
}
@media (max-width: 376px) {
  body {
    margin: 0 20px;
  }
  .name-inputs, .radio-container {
    flex-direction: column;
  }
  .name-inputs {
    margin-bottom: 0;
  }
  .radio-container {
    gap: 20px;
  }
  textarea {
    margin: 0px 0 30px ;
  }
  .consent-container {
    width: 100%;
  }
  #consent {
    align-self: center;
    flex-grow: 0;
  }
  .consent-label {
  flex-grow: 1;
  line-height: 1.5;
 } 
button[type="submit"] {
  padding: 1.2rem 0;
 }
}